@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "netflix-san";
    src: url("./font/NetflixSans.otf");
  }
}
#root {
  background: #222222;
}
